@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Primary Colors */
    --primary-100: #8472B9;
    --primary-200: #C2A790;
    --primary-300: #687DAC;
    --primary-400: #FC5306;
    --primary-500: #0662B0;

    /* Accent Colors */
    --accent-100: #B5AAD5;
    --accent-200: #DACABC;
    --accent-300: #A4B1CD;
    --accent-400: #EB8F68;
    --accent-500: #6AA1D0;
    --accent-600: #FFFFFF;

    /* Text Colors */
    --text-100: #4B4B4B;

    /* Background Colors */
    --bg-100: #F3F1F8;
    --bg-150: #E6E3F1;
    --bg-200: #F9F7F4;
    --bg-250: #F3EDE9;
    --bg-300: #F0F2F7;
    --bg-350: #E1E5EE;
    --bg-400: #FCEDE6;
    --bg-450: #F8DACD;
    --bg-500: #E7F0F8;
    --bg-550: #CDE0EF;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-100, #F3F1F8);
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--bg-100, #F3F1F8);
    padding: 10px 20px;
    height: 60px;
}

.navbar a {
    color: var(--primary-100, #8472B9);
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.navbar a:hover {
    background-color: var(--bg-150, #E6E3F1);
    border-radius: 5px;
}

.navbar img {
    height: 60px;
    padding-left: 20px;
    margin-right: auto; /* Push links to the right */
}

.homepage-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    padding-bottom: 0;
    margin: 0 auto;
    background: linear-gradient(180deg, #CDE0EF 0%, #E6E3F1 100%);
}

.homepage-header .left-column {
    flex: 1;
    padding: 20px;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
}

.homepage-header .left-column p {
    color: var(--text-100, #4B4B4B);
    font-family: "Outfit", sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: normal;
    max-width: 600px;
    max-height: 400px;
}

.homepage-header .right-column {
    flex: 1;
    padding: 20px;
    padding-right: 150px;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
}

.homepage-header .right-column img {
    max-width: 600px;
    height: auto;
}

.view-portfolio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    margin: 0 auto;
    background-color: var(--bg-100, #F3F1F8);
}

.view-portfolio .left-column {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.view-portfolio .left-column img {
    max-width: 726px;
    height: auto;
}

.view-portfolio .right-column {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.view-portfolio .right-column h1 {
    color: var(--text-100, #4B4B4B);
    font-family: "Outfit", sans-serif;
    font-size: 56px;
    font-weight: 600;
    line-height: normal;
    max-width: 450px;
    max-height: 400px;
}

.view-portfolio .right-column p {
    color: var(--text-100, #4B4B4B);
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    max-width: 450px;
    max-height: 400px;
}

.btn-light {
    border-radius: 23px;
    padding: 10px 24px;
    color: var(--primary-100, #8472B9);
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    position: relative;
    border: 2px solid var(--primary-100, #8472B9);
    font-family: "Poppins", sans-serif;
}

.btn-light:hover {
    color: var(--bg-100, #FFF);
    background: var(--primary-100, #8472B9);
    border: 2px solid var(--primary-100, #8472B9);
    transition: background-color 0.3s ease;
}

.btn-dark {
    border-radius: 23px;
    padding: 10px 24px;
    color: var(--bg-100, #FFF);
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    position: relative;
    background: var(--primary-100, #8472B9);
    border: 2px solid var(--primary-100, #8472B9);
    font-family: "Poppins", sans-serif;
}

.btn-dark:hover {
    color: var(--primary-100, #8472B9);
    background: var(--bg-100, #FFF);
    border: 2px solid var(--primary-100, #8472B9);
    transition: background-color 0.3s ease;
}


.display-section {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 20px 100px;
    margin: 0 auto;
    background: var(--bg-100, #F3F1F8);
    max-width: 58%;
    border-radius: 5px 5px 0px 0px;
}

.display-section .text-box {
    max-width: 80%;
}

.display-section h1 {
    color: var(--text-100, #4B4B4B);
    font-family: "Outfit", sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: normal;
}

.display-section p {
    color: var(--text-100, #4B4B4B);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
}

/* responsive display */

 .resizable-container {
    width: 100%;
    height: 800px;
    border: 2px solid var(--primary-100, #8472B9);
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    resize: both;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 100px;
    margin: 0 auto;
    margin-bottom: 100px;
    background: var(--bg-100, #F3F1F8);
    max-width: 50%;
    min-width: 10%;
    min-height: 400px;
    border-radius: 5px;
  }

  .resizable-container iframe {
    width: 100%;
    height: 100%;
    border: none;
  }

/* contact */

.background-box {
    padding: 40px 100px;
    background: linear-gradient(270deg, #FAD4E6 0%, #B5AAD5 100%);
}

.about-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: var(--bg-100, #F3F1F8);
}

.about-section .left-column {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.about-section .text-box {
    max-width: 460px;
}

.about-section .left-column h1 {
    color: var(--text-100, #4B4B4B);
    font-family: "Outfit", sans-serif;
    font-size: 56px;
    font-weight: 600;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 20px;
}

.about-section .left-column h2 {
    color: var(--text-100, #4B4B4B);
    font-family: "Outfit", sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: normal;
}

.about-section .left-column p {
    color: var(--text-100, #4B4B4B);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.about-section .right-column {
    flex: 1;
    display: flex;
    justify-content: right;
}

.about-section .right-column img {
    max-height: 600px;
}

.contact-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 60px 100px;
    margin: 0 auto;
    background: var(--bg-100, #F3F1F8);
    max-width: 60%;
    border-radius: 5px 5px 0px 0px;
}

.contact-form .left-column {
    flex: 1;
    /* padding: 20px; */
    /* display: flex; */
    justify-content: left;
}

.contact-form .left-column p {
    color: var(--text-100, #4B4B4B);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.contact-form .left-column a {
    color: var(--primary-100, #8472B9);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
  }

  .contact-form .left-column .btn-light {
    margin-top: 20px;
  }

.contact-form .right-column {
    flex: 1;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.contact-form .right-column label {
    color: var(--text-100, #4B4B4B);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    margin: 10px 0;
}

.contact-form .right-column input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid var(--primary-100, #8472B9);
    background: none;
    color: var(--text-100, #4B4B4B);
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
}

.contact-form .right-column textarea {
    border: 2px solid var(--primary-100, #8472B9);
    background: none;
    margin-bottom: 20px;
    color: var(--text-100, #4B4B4B);
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
}

.contact-form .right-column button {
    border-radius: 23px;
    padding: 10px 24px;
    color: var(--bg-100, #FFF);
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    position: relative;
    background: var(--primary-100, #8472B9);
    border: 2px solid var(--primary-100, #8472B9);
    font-family: "Poppins", sans-serif;
    width: 40%;
    justify-content: center;
}

.contact-form .right-column button:hover {
    color: var(--primary-100, #8472B9);
    background: var(--bg-100, #FFF);
    border: 2px solid var(--primary-100, #8472B9);
    transition: background-color 0.3s ease;
}

.contact-form .right-column form {
    flex: 1;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.notification {
    position: fixed;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ad5ea7;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    z-index: 1000;
  }

/* portfolio page */

.background-box2 {
    padding: 120px 100px;
    padding-bottom: 0;
    background: linear-gradient(270deg, #A4B1CD 0%, #E6E3F1 49.7%, #B5AAD5 100%);
}

.portfolio-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 100px;
    margin: 0 auto;
    background: var(--bg-100, #F3F1F8);
    max-width: 40%;
    border-radius: 5px 5px 0px 0px;
}

.portfolio-header .text-box {
    max-width: 60%;
}

.portfolio-header h1 {
    color: var(--text-100, #4B4B4B);
    font-family: "Outfit", sans-serif;
    font-size: 56px;
    font-weight: 600;
    line-height: normal;
    max-width: 450px;
    max-height: 400px;
}

.portfolio-header p {
    color: var(--text-100, #4B4B4B);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
}

.portfolio-header a {
    color: var(--primary-100, #8472B9);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 40%;
    height: 2px;
    background: linear-gradient(270deg, #A4B1CD 0%, #E6E3F1 49.7%, #B5AAD5 100%);
}

.cw-project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 60px 100px;
    margin: 0 auto;
    background: var(--bg-100, #F3F1F8);
    max-width: 40%;
    border-radius: 5px 5px 0px 0px;
}

.cw-project img {
    max-width: 75%;
}

.cw-project .right-column {
    max-width: 40%;
}

.bcm-project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 60px 100px;
    margin: 0 auto;
    background: var(--bg-100, #F3F1F8);
    max-width: 40%;
    border-radius: 5px 5px 0px 0px;
}

.bcm-project img {
    max-width: 75%;
    float:right
}

.bcm-project .left-column {
    max-width: 40%;
}

.ftc-casestudy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 60px 100px;
    margin: 0 auto;
    background: var(--bg-100, #F3F1F8);
    max-width: 40%;
    border-radius: 5px 5px 0px 0px;
}

.ftc-casestudy img {
    max-width: 75%;
}

.ftc-casestudy .right-column {
    max-width: 40%;
}

.website-casestudy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 60px 100px;
    margin: 0 auto;
    background: var(--bg-100, #F3F1F8);
    max-width: 40%;
    border-radius: 5px 5px 0px 0px;
}

.website-casestudy img {
    max-width: 75%;
    float:right
}

.website-casestudy .left-column {
    max-width: 40%;
}

.cafe-casestudy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 60px 100px;
    margin: 0 auto;
    background: var(--bg-100, #F3F1F8);
    max-width: 40%;
    border-radius: 5px 5px 0px 0px;
}

.cafe-casestudy img {
    max-width: 75%;
}

.cafe-casestudy .right-column {
    max-width: 40%;
}

/* capitalworx */

.cwbackground-box {
    padding: 40px 100px;
    background: var(--bg-400, #FCEDE6);
}

.cw-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.cw-description .left-column {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.cw-description .text-box {
    max-width: 590px;
    /* background-color: var(--bg-100, #F3F1F8); */
    padding: 20px;
    max-height: 600px;
    border-radius: 5px;
}

.cw-description .left-column h1 {
    color: var(--text-100, #4B4B4B);
    font-family: "Outfit", sans-serif;
    font-size: 56px;
    font-weight: 600;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 20px;
}

.cw-description .left-column h2 {
    color: var(--text-100, #4B4B4B);
    font-family: "Outfit", sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: normal;
}

.cw-description .left-column p {
    color: var(--primary-400, #FC5306);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.cw-description .right-column {
    flex: 1;
    display: flex;
    justify-content: left;
}

.cw-description .right-column img {
    max-height: 600px;
}

.cwdisplay {
    background: var(--bg-400, #FCEDE6);
    display: flex;
    justify-content: center;
    padding: 30px;
}

.cwdisplay img{
    max-width: 50%;
}

/* footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 40px 100px;
    margin: 0 auto;
    background: var(--bg-150, #E6E3F1);
}

footer img {
    height: 60px;
    padding-left: 20px;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.copyright p {
    margin: 0;
    color: var(--text-100, #4B4B4B);
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 400;
}

/* Responsive Design */

@media (max-width: 1400px) {

    .homepage-header .left-column {
        justify-content: center;
    }
   
    .homepage-header .left-column p {
        color: var(--text-100, #4B4B4B);
        font-family: "Outfit", sans-serif;
        font-size: 35px;
        font-weight: 600;
        line-height: normal;
        max-width: 450px;
        max-height: 400px;
    }

    .homepage-header .right-column {
        flex: 1;
        padding: 20px;
        padding-bottom: 0;
        padding-right: 20px;
        display: flex;
        justify-content: center;
    }

    .view-portfolio .right-column h1 {
        font-size: 45px;
        font-weight: 600;
    }

    .view-portfolio .right-column p {
        font-size: 16px;
        font-weight: 400;
    }

    .about-section .right-column img {
        max-height: 500px;
    }

    .about-section .text-box {
        max-width: 400px;
    }

    .about-section .left-column h1 {
        font-size: 45px;
        font-weight: 600;
    }
    
    .about-section .left-column h2 {
        font-size: 22px;
        font-weight: 600;
    }
    
    .about-section .left-column p {
        font-size: 16px;
        font-weight: 400;
    }

    .portfolio-header {
        max-width: 70%;
    }

    .portfolio-header .text-box {
        max-width: 70%;
    }

    .portfolio-header h1 {
        font-size: 45px;
        font-weight: 600;
    }

    .portfolio-header p {
        font-size: 16px;
        font-weight: 400;
    }

    .line {
        max-width: 70%;
    }

    .cw-project {
        max-width: 70%;
    }

    .bcm-project {
        max-width: 70%;
    }

    .ftc-casestudy {
        max-width: 70%;
    }

    .website-casestudy {
        max-width: 70%;
    }

    .cafe-casestudy {
        max-width: 70%;
    }

    .cw-description .right-column img {
        max-height: 500px;
    }

    .cw-description .text-box {
        max-width: 400px;
    }

    .cw-description .left-column h1 {
        font-size: 45px;
        font-weight: 600;
    }
    
    .cw-description .left-column h2 {
        font-size: 22px;
        font-weight: 600;
    }
    
    .cw-description .left-column p {
        font-size: 16px;
        font-weight: 400;
    }
}

@media (max-width: 768px) {
    .homepage-header {
        flex-direction: column;
    }

    .homepage-header .left-column p {
        color: var(--text-100, #4B4B4B);
        font-family: "Outfit", sans-serif;
        font-size: 35px;
        font-weight: 600;
        line-height: normal;
        max-width: 400px;
        max-height: 400px;
    }

    .homepage-header .right-column {
        margin-top: 20px;
    }

    .portfolio-header {
        max-width: 70%;
    }

    .portfolio-header .text-box {
        max-width: 70%;
    }
}
